.wrapper {
  padding: 24px 64px;
  background-color: var(--inputs);
}

.appBar {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 450px;
}

.navigationWrapper {
  margin-right: auto;
}
