.wrapper {
    display: flex;
    gap:40px;
}

.reviewsContent {

width: 631px;
height: 588px;
overflow-y: auto; /* вертикальна прокрутка при переповненні */

  box-sizing: border-box; /* щоб padding не додавався до ширини/висоти */

}

.bookingForm {
border: 1px solid var(--gray-light);
border-radius: 10px;
padding: 44px;
width: 641px;
height: 588px;
}