.Card {
  margin-bottom: 60px;
}

.CardInfoBox {
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.CardInfo {
  display: flex;
  flex-direction: column;
}

.CardInfoTopTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 24px;
}

.CardInfoSub {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.IconStar {
  fill: var(--rating);
  stroke: none;
  margin-right: 4px;
}

.CardReviews {
  margin-right: 16px;

  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: var(--main);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.locationBox {
  display: flex;
  gap: 4px;
  justify-content: flex-start;
  align-items: center;
}

.IconLocation {
  fill: var(--main);
}

.locationBox p {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: var(--main);
}

.CardInfoPrice {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}
.btnLinkBack {
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background-color: var(--button);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  text-decoration: none;
}

.slider {
  margin-bottom: 28px;
}

.CardInfoDesc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}
