.CatalogCard {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 40px;
}

.CatalogCardImage {
  width: 292px;
  height: 320px;
  object-fit: cover;
}

.CatalogCardInfo {
  display: flex;
  flex-direction: column;
  min-width: 524px;
}

.CatalogCardInfoTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.CatalogCardInfoTopTitle {
  font-weight: 600;
  font-size: 24px;

  /* line-height: 32px; */
  line-height: 1.33333;
  color: var(--main);
}

.CatalogCardInfoTopRight {
  display: flex;
  align-items: center;
}

.CatalogCardInfoTopPrice {
  font-weight: 600;
  font-size: 24px;

  /* line-height: 32px; */
  line-height: 1.33333;
  color: var(--main);
  margin-right: 12px;
}

.CatalogCardInfoSub {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.IconStar {
  fill: var(--rating);
  stroke: none;
  margin-right: 4px;
}

.CatalogCardReviews {
  margin-right: 16px;

  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: var(--main);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.locationBox {
  display: flex;
  gap: 4px;
  justify-content: flex-start;
  align-items: center;
}

.IconLocation {
  fill: var(--main);
}

.locationBox p {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: var(--main);
}

.CatalogCardInfoText {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: var(--text);

  margin-bottom: 24px;
}

.CatalogCardInfoOption {
  margin-bottom: 24px;
}



.CatalogCardInfoBtn {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background-color: var(--button);
  text-decoration: none;
}

.CatalogCardInfoBtn:hover {
  background-color: var(--button-hover);
}
