.featuresList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.featuresItem {
  border-radius: 100px;
  padding: 12px 18px;  
  height: 48px;
  background-color: var(--badges);
  mix-blend-mode: multiply;
  display: flex;
  gap: 8px;
  align-items: center;
}


 .featuresIcon {
  fill: var(--main);
  stroke: var(--main);  
  width: 20px;
  height: 20px;
  flex-shrink: 0;

} 



.featuresTxt {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  text-align: center;
  color: var(--main);
  text-transform: capitalize;
}